.body1 {background:url(../images/bg_top.gif) top repeat-x #f2f2f2}
.main {	margin:0 auto;	width:980px}

/* footer */
footer {color:#aaa;font-size:12px;padding:27px 0 36px 0;text-align:center;width:100%;overflow:hidden}
footer a {color:#fff}
footer a:hover {}
.text {font-size:20px;line-height:1.2em;color:#fff;padding:43px 0 0 45px;letter-spacing:-1px;float:left;width:340px;position:relative}
.text p span {display:block;margin-top:-4px}
.text p {padding-left:5px;padding-bottom:0px}
.text .tittle {font-size:75px;line-height:1.2em;display:block;letter-spacing:-2px;margin-bottom:-10px}
.text .tittle span {font-size:46px;line-height:1.2em;color:#000;display:block;margin-top:-22px;letter-spacing:-1px}
.text .button1 {display:block;position:absolute;top:295px;left:49px;background:url(../images/button_1.png) 0 0 no-repeat;width:158px;height:56px;text-align:center;font-size:24px;line-height:46px;color:#3d6c00;text-transform:uppercase;text-decoration:none}
.text .button1:hover {color:#000}

#conte{
	margin-bottom:auto;
    text-align: center;
    
   
}

#titulo1{
    margin-top:1%;
    font-family:Tahoma;
    color:black;
    text-align:center;
}

#contenedor{
	border: solid;
	width: 40%;
	height: 50%;
      text-align: center;
}
.estilo_div1_log2{
	height: 600px;
	width: 800px;
	-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}
.estilo_div1_index2{
	margin: 0 auto;
	text-align:center; 
}
.estilo_div2_index2{
	
}
#contenedor1{
	width: 35%;
	height: 30%;
	margin-left: -60px;

	color: #234578;
}
#contenedor2{
	width: 35%;
	height: 30%;
	margin-left: 35%;
	
	color: #234578;
}
#contenedor3{
	width: 30%;
	height: 30%;
	margin-left: 75%;
	margin-top: -16%;
	
	color: #234578;
}
#contenedor5{
	margin-top: 10%;
}
section #conte{

  max-width: 100px;
  text-align: center;
  margin-top: 50px;
    color: #70DBDB;

}
h2,h3{
  font-family: Bookman Old Style;
  font-size: 25px;
  color:  #000;
  text-align:center;
  
}


#inputEmail3{
	margin-left: 15%;
}

#texto1{
	font-family: Bookman Old Style;
    font-size: 150%;
    margin-top: 1%;
   
}
.centered{
	 float: none;
    margin: 0 auto;
    margin-top: 5%;

	border-radius: 5%;
    background-color: #C0D9D9
}
#cont{
 background-color: #C0D9D9;
 width: 50%;
 height: 50%;
 margin-left:20%;
}

#cuerpo{
background-color: #70D8D5;
}
#texto{
	border: solid;
	border-radius: 5%;
	width: 50%;
	height: 80%;
	margin-left: 25%;
	font-size: 150%;
	font-family: Bookman Old Style;
}

#boton{
	margin-right: 50px;
}


#title1{
    text-align:center;
    background-color:aliceblue;
}



#BEmployee {
   background-color:#99dc5e;
}

#BtEmployee {
    text-align:right;
}

.LBBus {
    color:white;
    font-size:16px;
    font-family:Consolas;
}
#HCreatB {
    color:coral;
    text-align:center;
}

#BCreatStudent  {
    background-color:ButtonFace;
}

.BCPerson {
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}
.LBBus2 {
    color:black;
    font-size:16px;
    font-family:Consolas;
}

#h2DelPerson{
    color:white;
}
ETDelet {
    color:white;
    font-size:12px;
    font-family:'Agency FB';
}

#title {
    font-family:'Bookman Old Style';
    font-size:40px;
    color:#081353
}

.redondo {
     width: 800px;
     height: 460px;
     border-radius: 300px;
    -moz-border-radius: 300px;
    -webkit-border-radius: 800px;
    -khtml-border-radius: 800px;
     overflow: hidden;
     margin-right:40%;
     
     
}
#nav1 {
    background-color: #FCEFE0;
   
}