@model Buseta_DataAccess.RouteStudent

@{
    ViewBag.Title = "Delete";
}
 <body id="page1">
   <div class="body1">
   <div class="main">
    <header>
        <center><h2>Delete</h2></center>
        <br /><br />
        <center>
<form class="form-horizontal">
    <div class="form-group">
        <label>Route</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Route.id)
    </div>

    <div class="form-group">
        <label>Student</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Student.name)
    </div>

    <div class="form-group">
         <label>Order in Route </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.orderInRoute)
    </div>
    
    </form>

           
@using (Html.BeginForm()) {
    <center>
        <button type="submit" class="btn btn-success" value="Delete"> Delete </button>
       <button type="button" class="btn btn-default"> @Html.ActionLink("Back to List", "Index")</button>
        </center>
}
            
    </center>
        <br /><br />
       
        </header>
       </div>
       
        </div>
    </body>