@model appBusetas.Models.RouteCheckModel
@{
    ViewBag.Title = "Bus Per Route";
}
  <body id="page1">
    <div class="body1">
   <div class="main">
   <header>
        <center><h2>Route/Bus</h2></center>
        <br /><br />
   <center>
<table id="tabla" class="table table-bordered">
    <thead>
        <tr class="active">
            <td class="active">
                <label>Bus</label>
            </td>
            <td class="active">
               <label>Schedule</label>
            </td>
        </tr>
    </thead>
    <tbody>
@foreach(var item in Model.routes){
        <tr class="success">
            <td td class="active">
                  @Html.DisplayFor(modelItem => item.busId)
                
            </td>
            <td td class="active">
                 @Html.DisplayFor(modelItem => item.routeScheduleId)
            </td>
        </tr>   
}
    </tbody>
</table>

    </center>
    <center> 
        @using (Html.BeginForm()) {   
    

        @Html.EditorFor(model => model.SearchText)
            <label style="font-family:gunship">Schedule ID</label>
            <input type="submit" value="Buscar" />
        }
        
    </center>
       </header>
       </div>
        </div>
      
    
    </body>