@model Buseta_DataAccess.Bus

@{
    ViewBag.Title = "Delete";
} 
 <body id="page1">
   <div class="body1">
   <div class="main">
    <header>
        <center><h2>Delete</h2></center>
        <br /><br />
        <center>
        <table  class="table table-bordered">
             <thead >
            <tr class="active">
                <td class="active">
                        <label >Brand</label> 
                </td>

                <td class="active">
                        <label >Color</label>
                    </td>
                <td class="active">
                       <label >Capacity</label>
            </tr>
                  </thead >
             <tbody >
            <tr class="success">
               <td class="display-field">
                        @Html.DisplayFor(model => model.brand)
               </td>

                <td class="display-field">
                        @Html.DisplayFor(model => model.color)

               </td>
                <td class="display-field">
                        @Html.DisplayFor(model => model.capacity)
               </td>


            </tr>
                 </tbody>
        </table>
            
            
                
@using (Html.BeginForm())
{
        <center>
        <button type="submit" class="btn btn-success" value="Delete"> Delete </button>
       <button type="button" class="btn btn-default"> @Html.ActionLink("Back to List", "Index")</button>
        </center>
}
                
     </center>
        </header>
        </div>
       </div>
        <br /><br />
       
    </body>


