@model Buseta_DataAccess.Bus

@{
    ViewBag.Title = "Delete";
} <body>
        
    
<center><h2 id="texto1">Delete</h2></center>

        <br /><br />
  
        <center>

        <table id="tabla" class="table ">
             <thead >
            <tr >
                <td >
                        <label >Brand</label> 
                </td>

                <td >
                        <label >Color</label>
                    </td>
                  
                

                <td>
                       <label >Capacity</label>
                    </td>
                    
              
            </tr>
                  </thead >
             <tbody >
            <tr >
               <td class="display-field">
                        @Html.DisplayFor(model => model.brand)
               </td>

                <td class="display-field">
                        @Html.DisplayFor(model => model.color)

               </td>
                <td class="display-field">
                        @Html.DisplayFor(model => model.capacity)
               </td>


            </tr>
                 </tbody>
        </table>
            </center
    

    <center>
@using (Html.BeginForm())
{
        <center>
        <input type="submit" class="btn btn-primary" value="Delete" />
       <button type="button" class="btn btn-default"> @Html.ActionLink("Back to List", "Index")</button>
        </center>
}
     </center>
    </body>


