@{
 ViewBag.Title = "Transporte Juanca";
}
@section featured {
                <body id="page1">
                    <div class="body1">
                    <div class="main">
               <br /><br /> 
             <header>  
                  <div class="text">
                          
                            <span class="tittle"><span>Transporte Juanca</span></span>
                            <p><span><strong>Welcome to System</strong></span></p>
                    
                        </div>
                 <div id="gallery" >
					    <ul id="myRoundabout">
						    <li ><img  src="images/buseta.png" alt="" ></li>
					    </ul>
				    </div>
            </header>
				    
                
<!-- content -->
	
<div class="body2">
	<div class="main">
		<article id="content2">
			<section class="col1">
				
        	</section>
			<section class="col_1">
				
        	</section>
			<section class="col_2">
				
        	</section>
			<section class="col_1">
				
       		</section>
		</article>
<!-- / content -->
	</div>
</div>
                        
 </div>

    </div>
</body>
 }