@model Buseta_DataAccess.School

@{
    ViewBag.Title = "Delete";
}
<body id="page1">
   <div class="body1">
   <div class="main">
    <header>
        <center><h2>Delete</h2></center>
        <br /><br />
        <center>
        <table class="table table-bordered">
             <thead>
            <tr class="active">
               
                <td class="active">
                   <label>Name</label>
                </td>
                
                  <td class="active">
                    <label>Address</label>
                </td>

             </tr>
           </thead>
            <tbody>
  <tr class="success">
           <td class="display-field">
                      @Html.DisplayFor(model => model.name)
                </td>
       <td class="display-field">
         @Html.DisplayFor(model => model.address)
                </td>
      </tr>
            </tbody>
   </table>
   </center>
@using (Html.BeginForm()) {
     <center>
        <button type="submit" class="btn btn-success" value="Delete"> Delete </button>
       <button type="button" class="btn btn-default"> @Html.ActionLink("Back to List", "Index")</button>
        </center>
}
        </center>
        </header>
        </div>
       </div>
        <br /><br />
        
    </body>
   