@model Buseta_DataAccess.School

@{
    ViewBag.Title = "Delete";
}

    <body background="http://www.wallsave.com/wallpapers/1920x1200/oscuridad/77272/oscuridad-fondos-de-pantalla-minimalistas-hd-muy-buenos-compilado-77272.jpg">

    <center><h2>Delete</h2></center>


    <div class="table-responsive">
        <center>

        <table id="tabla" class="table table-bordered">
            <tr class="success">
               
                <td class="">
                   <label>Name: </label>
                </td>
                
                  <td class="">
                    <label>Address: </label>
                </td>

             </tr>
  <tr class="success">
               <td class="display-field">
                      @Html.DisplayFor(model => model.name)
                </td>
       <td class="display-field">
         @Html.DisplayFor(model => model.address)
                </td>
      </tr>
   </table>
   </center>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
