@model Buseta_DataAccess.EmployeeType

@{
    ViewBag.Title = "Delete";
}

<body background="http://www.guia-empresas.net/fondos/grandes/GE-fondo11.jpg">

<center> <h2 id="h2DelPerson">Delete</h2> </center>
    <div class="table-responsive">
        <center>
 <table id="tabla" class="table table-bordered">
     <tr class="success"> 
    <td class="">
         <label>Name: </label>
    </td>
    <td class="">
        <label>Description: </label>
    </td>
    <td class="">
         <label>Salary: </label>
    </td>
         </tr>
     <tr>
     <td class="display-field" >
        @Html.DisplayFor(model => model.name)
    </td>
     <td class="display-field" >
        @Html.DisplayFor(model => model.description)
    </td>
     <td class="display-field" >
        @Html.DisplayFor(model => model.salary)
    </td>
     </tr>
</table>
 </center>
        </div>
    <center>
@using (Html.BeginForm()) {
     <button type="submit"   class="btn btn-success" value="Delete">Delete</button> 
     <button type="submit"   class="btn btn-success" value="Create"> @Html.ActionLink("Back to List", "Index")</button>
}
</center>
    </body>